#gallery {

    background: #ffefef;
    border: 3px solid #CCB6B4;
    padding: 40px 0;



    .slider {

        visibility: hidden;

        div {
            height: 100%;

            img {
                width: 100%;
                // min-height: 300px;
                height: 300px;
                object-fit: cover;
                border-radius: 20%;
                border: 5px solid #ffffff;

                @media (max-width:811px) {
                height: 200px;
                }

                @media (max-width:415px) {
                    height: 260px;
                }

            }
        }

    }

    .slider.slick-initialized {
        visibility: visible;
        margin-top: 20px;
    }

    .slick-next,
    .slick-prev {
        z-index: 1;
    }

    .slick-prev {
        left: 10px;
    }

    .slick-next {
        right: 10px;
    }

    .instagram {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 50px;

        // @media (max-width:415px) {
        // display: none;
        // }

        img {
            width: 50px;
        }

        p {
            font-size: 2.5rem;
            padding-left: 10px;

            @media (max-width:415px) {
                font-size: 2rem;
                }
    
        }
    }

}

.slick-list img {
    transform: scale(.8);
    transition: transform .3s;
}

.slick-center img {
    transform: scale(1);
}

.slick-slide {
    margin: 0 5px;
    height: 100%;
}